*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	 scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Slab', serif;
}

/*logo*/
#logoSignature {
	height: 52px;
}

#arrow-down {
	height: 20vh;
}

/*navbar shows when scolling up*/
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  margin: 0;
  padding: 0;
  z-index: 1;
}
/*an X after clicking hamburger effect*/
.navbar-toggler {
	border: 0;
}

.navbar-toggler>.close {
    display:inline;
}

.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.navbar-nav li{
	padding: 0.5rem;
}


/*reset to default when hover*/
#sourcesGithub:hover {
	color: black;
	opacity: 1;
}

#resetIcon:hover,
#resetIcon2:hover,
#resetIcon3:hover,
#resetIcon4:hover,
#resetIcon5:hover,
#resetIcon6:hover {
	color: black;
	opacity: 1;
}
/*end of reset*/

/*cards*/

#itachi {
	filter: brightness(50%);
}
#itachi:hover {
	filter: brightness(75%);
}

#reactImg {
	filter: brightness(50%);
}
#reactImg:hover {
	filter: brightness(75%);
}

/*end of cards*/

.fab {
	font-size: 2rem;
	color: black;
}
.fas {
	font-size: 2rem;
	color: black;
}

.st:hover{
	color: black;
	opacity: 0.9;
	border-bottom: 3px solid green;
}


#toolsContainer {
	background-image: url(./images/toolsbg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 25vh;

}


.fab:hover {
	color: yellow;
	opacity: 0.5;
}

/*arrow aim*/




#arrowAnim {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

.arrow {
  width: 1vw;
  height: 1vw;
  border: 1vw solid;
  border-color: black transparent transparent black;
  transform: rotate(-135deg);
}

/*arrow sliding*/
.contain {
	height: 15vh;
  width: 100%;
  margin-bottom: 12rem;
  position: relative;
}

.fa {
  font-size: 42px;
  color: green;
  bottom: 27px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  animation-name:arrow;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-name:arrow;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
}

}
@keyframes arrow
  {
  0%   {bottom:0;}
  75% {bottom:90px;}
  100% {bottom:0;}
  }
@-webkit-keyframes arrow
  {
  0%   {bottom:0;}
  75% {bottom:90px;}
  100% {bottom:0;}
  }
